#bgi-window {
    position: fixed;
    top: 35%;
    height: 180px;

    left: 10%;
    width: 80%;

    background-color: white;
    padding: 10px;

    border: 1px solid black;
}

#bgi-window button {
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    border-radius: 10%;
}

button#ok {
    background-color: blue;
    color: white;
    width: 60px;
    right: 90px;
    top: 0;
}

button#reject {
    background-color: white;
    color: blue;
    width: 60px;
    border: 1px solid gray;

    right: 25px;
    top: 0;
}

button#restore {
    background-color: lightgreen;
    color: black;
    width: 140px;
    border: 1px solid black;
    border-radius: 5%;
}
