/* General */

#title {
    background-color: black;
    color: white;
    opacity: 0.70;
    height: 45px;
    font-size: 30px;
    border-bottom: 1px solid #000;
}

.container-fluid {
    padding: 0;
}

/* Ghost */

.item,
.no-item {
    display: block;
    width: 80px;
    height: 80px;
    margin: 4px auto;
    border-width: 2px;

    border: 1px solid orange;
    box-sizing: border-box;
}

.ghost {
    box-sizing: border-box;
    width: 50.00%;
    padding: 3px;
    height: auto;
    border-bottom: 1px solid black;
}

.ghost:nth-of-type(1n) {
    background-color: rgb(190, 184, 184);
}

.ghost:nth-of-type(2n) {
    background-color: lightgray;
}

#ghosts {
    width: calc(100% - 100px); /* -evidence width */
    height: 100px;
    opacity: 0.75; /* Basic */
}

/* Evidence */

.item:hover,
.no-item:hover {
    cursor: pointer;
}

#evidences {
    background-color: rgb(24, 23, 23);
    opacity: 0.8;
    height: calc(100vh - 45px); /* - title height */
    width: 100px;
}

/* BAR [ Volume || Visibility ] */

.bar{
    right: 10px;
    position: fixed;
    border: 2px solid red;
    background-color: orange;
}

.bar > img{
    background-color: white;
    padding: 2px;
    width: 30px;
    height: 30px;
    position: relative;
}

#volumeBar, #visibilityBar{
    position: relative;
    top: 4px;
}

.icon {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: white;
    cursor: pointer;
}

#visibility{
    bottom: 10px;
}

#volume{
    bottom: 50px;
}