* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body{
    background-color:rgb(159, 151, 187);
    background-image: url("./../images/bgi.jpg");
    background-position: center;
    background-size: cover;
}

/* Others */

.bold{
    font-weight: bold;
}

.redBorder{
    border-color: red !important;
    border-width: 2px;
}

.hidden{
    display: none;
}

.green{
    color:green;
}

.red{
    color: red;
}

.border-box{
    box-sizing: border-box;
}

.op-30{
    opacity: 30%;
}