/* Global content */

/* nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

nav a{
    width: 100%;  // Zależne od ilości elementów w <nav>
    font-size: 47px;
    text-align: center;
    border-bottom: 2px solid #000;
    border-right: 1px solid black;
    box-sizing: border-box;
}

nav a:last-of-type{
    border-right: none;
}

a:hover{
    cursor: pointer;
} */

#title{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}

main{
    display: flex;
    flex-wrap: wrap;
}

/* Ghost Picker Content */

#evidence{
    width: 120px;
    box-sizing: border-box;
    border-right: 2px solid black;
}

.item{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-left: 6px;
    margin-top: 15px;
}

.item:hover{
    cursor: pointer;
}

#ghosts{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 120px);
    height: 50px;
}

.ghost{
    box-sizing: border-box;
    width: 33.33%;
    min-height: 50px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 3px;
}

@media only screen and (max-width: 1440px) {
    .ghost{
        width: 50.00%;
    }
}

@media only screen and (max-width: 960px) {
    #evidence{
        width: 100%;
        border-bottom: 2px solid #000;
        border-right: none;
    }

    #evidence > div{
        width: 624px; /* item * 6 */
        margin: 0 auto 0;
    }

    .ghost{
        width: 100.00%;
        border-right: none;
    }

    #ghosts{
        width: 100%;
    }

    .item{
        margin: 0;
        margin-top: 4px;
    }

    .ghost:last-child{
        border-bottom: none;
    }

    #title{
        font-size: 26px;
        padding-bottom: 2px;
    }
}

@media only screen and (max-width: 656px) {
    #evidence > div{
        width: 312px; /* item * 6 */
        margin: 0 auto 0;
    }
}

/* General */

.bold{
    font-weight: bold;
}

.redBorder{
    border-color: red !important;
}

.hidden{
    display: none;
}

.green{
    color:green;
}

.red{
    color: red;
}